# Dominus files
.env
.history/*
/.cli
/vendor
/src/Logs/*
!/src/Logs/.gitkeep
/dominus_migrations.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#Random OS files
.DS_Store